@using FinalPoint.Data.Models
@using FinalPoint.Data.Models.Enums
@model ICollection<Protocol>
@{
    ViewData["Title"] = "Търсене на протокол";
    ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        new KeyValuePair<string, string>("Търсене", "/Search"),
        };
}


<h1 class="text-center text-secondary mb-4">@ViewData["Title"]</h1>
<hr class="mb-5" />


<div class="row mt-3">
    <div class="col-md-12">
            @foreach (var protocol in Model)
            {
                <div class="card my-2">
                    <a class="btn col-md-12 @(protocol.IsClosed ? "btn-success" :  "btn-light")" type="button" asp-controller="LoadUnload" asp-action="LoadProtocol" asp-route-id="@protocol.Id">

                        <div class="row">
                            <div class="p-0 pl-3 m-auto">
                                Протокол за @(protocol.Type == ProtocolType.Loading ? "товарене" : "разтоварване") №: @protocol.Id
                                Създал: @protocol.CreatedByEmployee.FullName
                                Дата: @protocol.CreatedOn.ToString("dd/MM/yyyy")
                                От: @protocol.OfficeFrom.PostCode
                                Към: @protocol.OfficeTo.Name (@protocol.OfficeTo.PostCode)
                                <i class="fas fa-@(protocol.IsClosed ? "check" : "times")"></i>
                            </div>
                        </div>
                    </a>
                </div>
            }
</div>

@section Scripts{
    <script src="~/js/Search/GetParcelSearchResultsGlobalScript.js"></script>
}