@using FinalPoint.Web.ViewModels.ViewComponents
@model ParcelsTableShowModel

<div class="row mt-3">
    <div class="col-md-12">
        <table class="table table-striped table-hover ">
            @foreach (var parcel in Model.Parcels)
            {
                <tr class="@(parcel.ProtocolParcel.Status == ParcelStatus.Checked ? "table-success" : parcel.ProtocolParcel.Status == ParcelStatus.Added ? "table-warning" : "") rounded">
                    <td>
                        <div class="row">
                            <div class="col-md-2 p-0 pl-3">
                                Пратка №: @parcel.ProtocolParcel.Parcel.Id
                            </div>
                            <div class="col-md-1 p-0">
                                @parcel.ProtocolParcel.Parcel.NumberOfParts @(parcel.ProtocolParcel.Parcel.NumberOfParts == 1 ? "част" : "части")
                            </div>
                            <div class="col-md-6">
                                От: @Model.Protocol.OfficeFrom.Name -> Към: @Model.Protocol.OfficeTo.Name |
                            </div>
                            <div class="col-md-2">
                                <i class="fas fa-@(parcel.ProtocolParcel.Status == ParcelStatus.Checked ? "check" : parcel.ProtocolParcel.Status == ParcelStatus.Added ? "plus" : "")"></i>
                                @parcel.TranslatedStatus
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>