@using FinalPoint.Web.ViewModels.TrackParcel
@model TrackParcelResultModel


@if (Model.Parcels.Count > 0)
{
    <div class="row">
        <div class="card shadow mb-4 col-md-3 mt-4 ml-auto mr-auto">
            <!-- Card Body -->
            <div class="card-body d-flex">
                <h3 class="m-auto">Брой пратки: @Model.Parcels.Count</h3>
            </div>
        </div>
    </div>

    @foreach (var parcel in Model.Parcels)
    {
        <div id="parcelCard_@parcel.Id"class="row animate__animated animate__faster">
            <div class="col-md-12">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <tr class="p-0 rounded">
                        <td class="p-1">
                            <div id="parcelSearchResult"></div>
                            <div class="accordion" id="accordionExample">
                                <div class="card ">
                                    <button class="btn collapsed col-md-12 btn-light" type="button" data-toggle="collapse" data-target="#collapse_@parcel.Id" aria-expanded="false" aria-controls="collapseTwo">

                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-success">Пратка №@parcel.Id</h6>

                                                @if (parcel.CurrentOfficeId == Model.CurrUserWorkOfficeId)
                                                {
                                                    <span class="text-success">Налична <i class="fas fa-check"></i></span>
                                                }
                                                else if(Model.IsDispose)
                                                {
                                                    <span class="text-danger">Налична в офис: @parcel.CurrentOfficeCityName - @parcel.CurrentOfficeName -           @parcel.CurrentOfficePostCode <i class="fas fa-times"></i></span>
                                                }
                                        </div>
                                    </button>
                                    <partial name="_ShowSingleParcelDescriptionPartialView" model="parcel" />
                                </div>
                            </div>
                        </td>
                    </tr>

                    @if (Model.IsDispose)
                    {
                    <div id="disposeBtn_@parcel.Id">
                        @if (parcel.CurrentOfficeId == Model.CurrUserWorkOfficeId)
                        {
                            <div class="card-body form-group p-1 m-1 text-center">
                                <input id="mainDisposeBtn_@parcel.Id" type="button" onclick="toggleConfirmation('mainDisposeBtn_', 'confirmDeleteDiv_', @parcel.Id)" class="col-md-4 btn btn-success form-control animate__animated animate__backInRight animate__faster" value="Издай" />

                                <span id="confirmDeleteDiv_@parcel.Id" class="confirmDelete">
                                    <div class=" p-1 m-1 animate__animated animate__backInRight animate__faster">
                                        <span class="col-md-3">Сигурни ли сте? </span>
                                        <button type="button" onclick="disposeParcel(@parcel.Id)" class="col-md-2 btn btn-danger form-control">Да</button>
                                        <button id="disposeBtn_@parcel.Id" type="button" onclick="toggleConfirmation('mainDisposeBtn_', 'confirmDeleteDiv_', @parcel.Id)" class="col-md-2 btn btn-success form-control">Не</button>
                                    </div>
                                </span>
                            </div>
                        }
                    </div>
                    }
                </div>
                </div>
            </div>


    }
}
else
{
    <div class="row">
        <div class="card shadow col-md-8 mb-4 mt-4 ml-auto mr-auto">
            <!-- Card Body -->
            <div class="card-body d-flex">
                <h3 class="m-auto text-danger">Не бяха открити пратки по зададените критерии.</h3>
            </div>
        </div>
    </div>
}