@using FinalPoint.Data.Models
@using Microsoft.AspNetCore.Identity
@model AddParcelInputModel
@inject UserManager<ApplicationUser> UserManager
@{
        ViewData["Title"] = "Приемане на пратка";

        ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        };
    var allOffices = Model.AllOffices?.Select(x => new SelectListItem(x.Value, x.Key));
    var allClients = Model.SenderInputModel.AllClients?.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1 class="text-center text-secondary mb-4">@ViewData["Title"]</h1>
<hr class="mb-5" />

@if (ViewBag.isSuccess != null)
{
    <div class="alert alert-success" role="alert">
        Пратката Ви беше приета успешно!
    </div>

}

<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-info">Информация за пратката</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="5" formnovalidate /></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="row pl-3">
                            <div class="pl-3 pr-3 pb-2 rounded border col-md-3">
                                <div class="row">
                                    <label asp-for="Width"></label>
                                </div>
                                <div class="row">
                                    <input asp-for="Width" type="number" step="any" onchange="calculatePrice()" class="form-control" />
                                    <span asp-validation-for="Width" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="pl-2 pr-2 p-2 m-3"> x </div>
                            <div class="pl-3 pr-3 pb-2 rounded border col-md-3">
                                <div class="row">
                                    <label asp-for="Height"></label>
                                </div>
                                <div class="row">
                                    <input asp-for="Height" type="number" step="any" onchange="calculatePrice()" class="form-control" />
                                    <span asp-validation-for="Height" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="pl-2 pr-2 p-2 m-3"> x </div>
                            <div class="pl-3 pr-3 pb-2 rounded border col-md-3">
                                <div class="row">
                                    <label asp-for="Length"></label>
                                </div>
                                <div class="row">
                                    <input asp-for="Length" type="number" step="any" onchange="calculatePrice()" class="form-control" />
                                    <span asp-validation-for="Length" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group d-flex col-md-6 p-0">
                            <label asp-for="Weight" class="col-md-3 p-0 pt-2"></label>
                            <input asp-for="Weight" type="number" step="any" onchange="calculatePrice()" class="form-control col-md-4" />
                            <div class="col-md-3 p-0 pt-2 pl-1">кг.</div>
                        </div>
                        <span asp-validation-for="Weight" class="text-danger"></span>

                        <div class="form-group d-flex col-md-6 p-0">
                            <label asp-for="NumberOfParts" class="col-md-3 p-0 pt-2"></label>
                            <input asp-for="NumberOfParts" type="number" onchange="calculatePrice()" class="form-control col-md-4" />
                        </div>
                        <span asp-validation-for="NumberOfParts" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="HasCashOnDelivery"></label>
                            <input asp-for="HasCashOnDelivery" onchange="calculatePrice()" />
                            <span asp-validation-for="HasCashOnDelivery" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="cashOnDeliveryPriceBlock" class="form-group" hidden>
                        <div class="row">
                            <label asp-for="CashOnDeliveryPrice" class="col-md-6"></label>
                            <input asp-for="CashOnDeliveryPrice" type="number" step="any" onchange="calculatePrice()" class="form-control col-md-4" />
                            <span asp-validation-for="CashOnDeliveryPrice" class="text-danger"></span>
                            <span class="col-md-2">лв.</span>
                        </div>
                        <span asp-validation-for="CashOnDeliveryPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="IsFragile"></label>
                            <input asp-for="IsFragile" onchange="calculatePrice()" />
                            <span asp-validation-for="IsFragile" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="DontPaletize"></label>
                            <input asp-for="DontPaletize" onchange="calculatePrice()" />
                            <span asp-validation-for="DontPaletize" class="text-danger"></span>
                        </div>
                    </div>

                    <div>
                        <h5 class="text-info">Крайна цена за доставка: <span id="deliveryPrice">0.00</span>лв.</h5>
                        <h5 class="text-danger">Общо събери: <span id="fullPrice">0.00</span>лв.</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-info">Подател и получател</h6>
                </div>

                <div class="card-body pt-0">
                    <div class="form-group mt-3">
                        <label for="senderOffice">Офис на подател:</label>
                        <select form="senderOffice" class="form-control" disabled>
                            <option>@Model.CurrOfficeAsString</option>
                        </select>
                    </div>
                </div>


                <!-- Card Body -->
                <div class="card-body" id="currClient10">
                    <div class="form-group">
                        <label asp-for="SenderInputModel.ClientId">@Model.SenderInputModel.Type</label>
                        <a onclick="addNewClient(10)" class="text-info">(Създаване на нов потребител)</a>
                        <select asp-for="SenderInputModel.ClientId" asp-items="allClients" data-live-search="true" class="selectpicker form-control">
                        </select>
                        <span asp-validation-for="SenderInputModel.ClientId" class="text-danger"></span>
                    </div>
                </div>

                <div id="addClient10" hidden>
                    <div class="card-body" id="currClient">
                        <h6>@Model.SenderInputModel.Type <a onclick="addNewClient(10)" class="text-secondary">(Избиране от вече създаден клиент)</a></h6>
                        <div class="form-group">
                            <label asp-for="SenderInputModel.FirstName" class="text-info"></label>
                            <input asp-for="SenderInputModel.FirstName" class="form-control" />
                            <span asp-validation-for="SenderInputModel.FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SenderInputModel.LastName" class="text-info"></label>
                            <input asp-for="SenderInputModel.LastName" class="form-control" />
                            <span asp-validation-for="SenderInputModel.LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SenderInputModel.PhoneNumber" class="text-info"></label>
                            <input asp-for="SenderInputModel.PhoneNumber" class="form-control" />
                            <span asp-validation-for="SenderInputModel.PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SenderInputModel.Address" class="text-info"></label>
                            <input asp-for="SenderInputModel.Address" class="form-control" />
                            <span asp-validation-for="SenderInputModel.Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <hr class="m-3" />
                <div class="card-body" id="currClient20">
                    <div class="form-group">
                        <label asp-for="RecipentInputModel.ClientId">@Model.RecipentInputModel.Type</label>
                        <a onclick="addNewClient(20)" class="text-info">(Създаване на нов потребител)</a>
                        <select asp-for="RecipentInputModel.ClientId" asp-items="allClients" data-live-search="true" class="selectpicker form-control">
                        </select>
                        <span asp-validation-for="SenderInputModel.ClientId" class="text-danger"></span>
                    </div>
                </div>

                <div id="addClient20" hidden>
                    <div class="card-body" id="currClient">
                        <h6>@Model.RecipentInputModel.Type <a onclick="addNewClient(20)" class="text-secondary">(Избиране от вече създаден клиент)</a></h6>
                        <div class="form-group">
                            <label asp-for="RecipentInputModel.FirstName" class="text-info"></label>
                            <input asp-for="RecipentInputModel.FirstName" class="form-control" />
                            <span asp-validation-for="RecipentInputModel.FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RecipentInputModel.LastName" class="text-info"></label>
                            <input asp-for="RecipentInputModel.LastName" class="form-control" />
                            <span asp-validation-for="RecipentInputModel.LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RecipentInputModel.PhoneNumber" class="text-info"></label>
                            <input asp-for="RecipentInputModel.PhoneNumber" class="form-control" />
                            <span asp-validation-for="RecipentInputModel.PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RecipentInputModel.Address" class="text-info"></label>
                            <input asp-for="RecipentInputModel.Address" class="form-control" />
                            <span asp-validation-for="RecipentInputModel.Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="card-body pt-0">
                    <div class="form-group">
                        <label asp-for="ReceivingOfficeId"></label>
                        <select asp-for="ReceivingOfficeId" asp-items="allOffices" data-live-search="true" class="selectpicker form-control">
                        </select>
                        <span asp-validation-for="ReceivingOfficeId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success col-md-6 offset-md-3 form-control">Приемане</button>
    </div>
</form>

@section Scripts {
    <script>
        let isFragileCheckBox = document.querySelector("#IsFragile");
        let dontPaletizeCheckBox = document.querySelector("#DontPaletize");
        let cashOnDeliveryCheckBox = document.querySelector("#HasCashOnDelivery");
        let cashOnDeliveryPriceEl = document.querySelector("#cashOnDeliveryPriceBlock")
        let cashOnDeliveryPriceInput = document.querySelector("#CashOnDeliveryPrice");

        let widthEl = document.querySelector("#Width");
        let heightEl = document.querySelector("#Height");
        let lengthEl = document.querySelector("#Length");

        let weightEl = document.querySelector("#Weight");
        let numOfPartsEl = document.querySelector("#NumberOfParts");

        let deliveryPriceEl = document.querySelector("#deliveryPrice");
        let fullPriceEl = document.querySelector("#fullPrice");

        cashOnDeliveryCheckBox.addEventListener("click", () => {

            if (cashOnDeliveryCheckBox.checked) {
                cashOnDeliveryPriceEl.hidden = false;
            }
            else {
                cashOnDeliveryPriceEl.hidden = true;
                cashOnDeliveryPriceInput.textContent = 0.0;
            }

            calculatePrice();

        })


        function calculatePrice() {
            let widthValue = widthEl.value == 0 ? 1.0 : widthEl.value;
            let heightValue = heightEl.value == 0 ? 1.0 : heightEl.value;
            let lengthValue = lengthEl.value == 0 ? 1.0 : lengthEl.value;
            let weightValue = weightEl.Value == 0 ? 1.0 : weightEl.value;
            let numberOfParts = numOfPartsEl.value;

            let volumeWeight = (widthValue * heightValue * lengthValue);

            let cashOnDeliveryValue = cashOnDeliveryPriceInput.value;

            let finalPrice = 0;

            $.ajax({
                method: "GET",
                url: `/AddDispose/CalculateDeliveryPrice?height=${heightValue}&length=${lengthValue}&width=${widthValue}&weight=${weightValue}&hasCashOnDelivery=${cashOnDeliveryCheckBox.checked}&isFragile=${isFragileCheckBox.checked}&dontPaletize=${dontPaletizeCheckBox.checked}& cashOnDeliveryPrice=${cashOnDeliveryValue}&numOfParts=${numberOfParts}`,
                success: function (res) {
                    finalPrice = res;
                    deliveryPriceEl.textContent = finalPrice.toFixed(2);
                    fullPriceEl.textContent = (finalPrice + Number(cashOnDeliveryValue)).toFixed(2);
                }
            });

            if (numberOfParts <= 0) {
                numOfPartsEl.value = 1;
            }
            if (weightEl.value < 0.1) {
                weightEl.value = 1;
            }
        }

        calculatePrice();

        function addNewClient(type) {
            let currClient = document.querySelector("#currClient" + type.toString());
            let addClient = document.querySelector("#addClient" + type.toString());

            if (!currClient.hidden) {
                currClient.hidden = true;
                addClient.hidden = false;
            } else {
                currClient.hidden = false;
                addClient.hidden = true;
            }
        }</script>
}
