@using FinalPoint.Data.Models
@using Microsoft.AspNetCore.Identity
@model AddParcelInputModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Приемане на пратка";

    ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        };
    var allOffices = Model.AllOffices?.Select(x => new SelectListItem(x.Value, x.Key));
    var allClients = Model.SenderInputModel.AllClients?.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1 class="text-center text-secondary mb-4">@ViewData["Title"]</h1>
<hr class="mb-5" />

@if (ViewBag.isSuccess != null)
{
    <div class="alert alert-success" role="alert">
        Пратката Ви беше приета успешно!
    </div>

}

<form method="post" id="form">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-info">Информация за пратката</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="5" formnovalidate></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="row pl-3 my-2 align-items-center justify-content-center">
                            <div class="pl-3 pr-3 pb-2 rounded border col-md-3">
                                <div class="row">
                                    <label asp-for="Width"></label>
                                </div>
                                <div class="row">
                                    <input asp-for="Width" min="0.1" max="30.0" step="any" onchange="calculatePrice()" class="form-control" />
                                    <span asp-validation-for="Width" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-1">x</div>
                            <div class="pl-3 pr-3 pb-2 rounded border col-md-3">
                                <div class="row">
                                    <label asp-for="Height"></label>
                                </div>
                                <div class="row">
                                    <input asp-for="Height" min="0.1" max="30.0" step="any" onchange="calculatePrice()" class="form-control" />
                                    <span asp-validation-for="Height" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-1">x</div>
                            <div class="pl-3 pr-3 pb-2 rounded border col-md-3">
                                <div class="row">
                                    <label asp-for="Length"></label>
                                </div>
                                <div class="row">
                                    <input asp-for="Length" min="0.1" max="30.0" step="any" onchange="calculatePrice()" class="form-control" />
                                    <span asp-validation-for="Length" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group d-flex col-md-6 p-0">
                            <label asp-for="Weight" class="col-md-3 p-0 pt-2"></label>
                            <input asp-for="Weight" step="any" onchange="calculatePrice()" class="form-control col-xs-2" />
                            <div class="col-md-3 p-0 pt-2 pl-1"> кг.</div>
                        </div>
                        <span asp-validation-for="Weight" class="text-danger"></span>

                        <div class="form-group d-flex col-md-6 p-0">
                            <label asp-for="NumberOfParts" class="col-md-3 p-0 pt-2"></label>
                            <input asp-for="NumberOfParts" type="number" onchange="calculatePrice()" class="form-control col-xs-2" />
                        </div>
                        <span asp-validation-for="NumberOfParts" class="text-danger"></span>
                    </div>

                    <div class="form-group my-2">
                        <div class="checkbox">
                            <label asp-for="HasCashOnDelivery"></label>
                            <input asp-for="HasCashOnDelivery" onchange="calculatePrice()" />
                            <span asp-validation-for="HasCashOnDelivery" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="cashOnDeliveryPriceBlock" class="form-group" hidden>
                        <div class="form-group d-flex col-md-10">
                            <label asp-for="CashOnDeliveryPrice" class="col-md-6"></label>
                            <input asp-for="CashOnDeliveryPrice" min="0.1" step="any" onchange="calculatePrice()" class="form-control col-xs-2" />
                            <span asp-validation-for="CashOnDeliveryPrice" class="text-danger"></span>
                            <span class="col-md-3 p-0 pt-2 pl-1">лв.</span>
                        </div>
                        <span asp-validation-for="CashOnDeliveryPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group my-2">
                        <div class="checkbox">
                            <label asp-for="IsFragile"></label>
                            <input asp-for="IsFragile" onchange="calculatePrice()" />
                            <span asp-validation-for="IsFragile" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <div class="checkbox">
                            <label asp-for="DontPaletize"></label>
                            <input asp-for="DontPaletize" onchange="calculatePrice()" />
                            <span asp-validation-for="DontPaletize" class="text-danger"></span>
                        </div>
                    </div>

                    <div>
                        <h5 class="text-info">Крайна цена за доставка: <span id="deliveryPrice">0.00</span>лв.</h5>
                        <h5 class="text-danger">Общо събери: <span id="fullPrice">0.00</span>лв.</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-info">Подател и получател</h6>
                </div>

                <div class="card-body pt-0">
                    <div class="form-group mt-3">
                        <label for="senderOffice">Офис на подател:</label>
                        <select form="senderOffice" class="form-control" disabled>
                            <option>@Model.CurrOfficeAsString</option>
                        </select>
                    </div>
                </div>

                <div class="card-body" id="currClient10">
                    <div class="form-group">
                        <label asp-for="SenderInputModel.ClientId">@Model.SenderInputModel.Type</label>
                        <a onclick="addNewClient(10)" class="text-info">(Създаване на нов потребител)</a>
                        <div class="input-group">
                            <select asp-for="SenderInputModel.ClientId" asp-items="allClients" data-live-search="true" class="selectpicker form-control">
                            </select>
                            <div class="input-group-addon input-group-button">
                                <button type="button" class="btn btn-info" onclick="addNewClient(10, true)"><i class="fas fa-pen"></i></button>
                            </div>
                        </div>
                        <span asp-validation-for="SenderInputModel.ClientId" class="text-danger"></span>
                    </div>
                </div>
                <div id="addClient10" hidden>
                    <div class="card-body addClientFields" hidden>
                        <h6>@Model.SenderInputModel.Type <a onclick="addNewClient(10)" class="text-info">(Избиране от вече създаден клиент)</a></h6>
                        <div class="form-group" hidden>
                            <input name="id" class="id form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="SenderInputModel.FirstName" class="text-info"></label>
                            <input asp-for="SenderInputModel.FirstName" class="firstName form-control" />
                            <span asp-validation-for="SenderInputModel.FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SenderInputModel.LastName" class="text-info"></label>
                            <input asp-for="SenderInputModel.LastName" class="lastName form-control" />
                            <span asp-validation-for="SenderInputModel.LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SenderInputModel.Email" class="text-info"></label>
                            <input asp-for="SenderInputModel.Email" class="email form-control" />
                            <span asp-validation-for="SenderInputModel.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SenderInputModel.PhoneNumber" class="text-info"></label>
                            <input asp-for="SenderInputModel.PhoneNumber" class="phoneNumber form-control" />
                            <span asp-validation-for="SenderInputModel.PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SenderInputModel.Address" class="text-info"></label>
                            <input asp-for="SenderInputModel.Address" class="address form-control" />
                            <span asp-validation-for="SenderInputModel.Address" class="text-danger"></span>
                        </div>

                        <p class="text-danger errorField text-center" hidden></p>
                    </div>
                    <div class="card-body row m-0 addClientEditPanel" hidden>
                        <button type="button" class="btn btn-danger col-md-4 m-auto" onclick="addNewClient(10)">Назад</button>
                        <button type="button" class="btn btn-info col-md-4 m-auto" onclick="saveClientData(10)">Запази</button>
                    </div>
                </div>

                <hr class="m-3" />
                <div class="card-body" id="currClient20">
                    <div class="form-group">
                        <label asp-for="RecipentInputModel.ClientId">@Model.RecipentInputModel.Type</label>
                        <a onclick="addNewClient(20)" class="text-info">(Създаване на нов потребител)</a>
                        <div class="input-group">
                            <select asp-for="RecipentInputModel.ClientId" asp-items="allClients" data-live-search="true" class="selectpicker form-control">
                            </select>
                            <div class="input-group-addon input-group-button">
                                <button type="button" class="btn btn-info" onclick="addNewClient(20, true)"><i class="fas fa-pen"></i></button>
                            </div>
                        </div>
                        <span asp-validation-for="SenderInputModel.ClientId" class="text-danger"></span>
                    </div>
                </div>

                <div id="addClient20" hidden>
                    <div class="card-body addClientFields" hidden>
                        <h6>@Model.RecipentInputModel.Type <a onclick="addNewClient(20)" class="text-info">(Избиране от вече създаден клиент)</a></h6>
                        <div class="form-group" hidden>
                            <input name="id" class="id form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="RecipentInputModel.FirstName" class="text-info"></label>
                            <input asp-for="RecipentInputModel.FirstName" class="firstName form-control" />
                            <span asp-validation-for="RecipentInputModel.FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RecipentInputModel.LastName" class="text-info"></label>
                            <input asp-for="RecipentInputModel.LastName" class="lastName form-control" />
                            <span asp-validation-for="RecipentInputModel.LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RecipentInputModel.Email" class="text-info"></label>
                            <input asp-for="RecipentInputModel.Email" class="email form-control" />
                            <span asp-validation-for="RecipentInputModel.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RecipentInputModel.PhoneNumber" class="text-info"></label>
                            <input asp-for="RecipentInputModel.PhoneNumber" class="phoneNumber form-control" />
                            <span asp-validation-for="RecipentInputModel.PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RecipentInputModel.Address" class="text-info"></label>
                            <input asp-for="RecipentInputModel.Address" class="address form-control" />
                            <span asp-validation-for="RecipentInputModel.Address" class="text-danger"></span>
                        </div>

                    </div>
                    <p class="text-danger errorField text-center" hidden></p>
                    <div class="card-body row m-0 addClientEditPanel" hidden>
                        <button type="button" class="btn btn-danger col-md-4 m-auto" onclick="addNewClient(20)">Назад</button>
                        <button type="button" class="btn btn-info col-md-4 m-auto" onclick="saveClientData(20)">Запази</button>
                    </div>
                </div>

                <div class="card-body pt-0">
                    <div class="form-group">
                        <label asp-for="ReceivingOfficeId"></label>
                        <select asp-for="ReceivingOfficeId" asp-items="allOffices" data-live-search="true" class="selectpicker form-control">
                        </select>
                        <span asp-validation-for="ReceivingOfficeId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <button type="submit" class="btn btn-success col-md-6 m-auto">Приемане</button>
    </div>
</form>

@section Scripts {

    <script src="~/js/AddDispose/AddDisposeMain.js"></script>
}
