@using FinalPoint.Web.ViewModels.ViewComponents;
@model LoadUnloadProtocolViewModel
@{
    ViewData["Title"] = "Протокол №" + Model.Id;

    ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        new KeyValuePair<string, string>(Model.TranslatedType, Model.Type == ProtocolType.Loading ? "/Load" : "/Unload"),
        };
}
<div class="container-fluid">
    @if (!Model.IsClosed)
    {
        <div class="row">
            <div id="protocolMainResponseMessage" class="alert alert-@Model.TypeOfMessage alert-dismissible fade show col-md-12 animate__animated" role="alert">
                <div id="message">
                    @Model.Message
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

    }

    <div class="row mb-2">
        <div class="col-md-6">
            <p>
                Протокол №: <span class="text-warning">@Model.Id</span> |
                Линия: <span class="text-warning"> @Model.Line </span> |
                Дата: @Model.Date.ToString("dd/MM/yyyy")
            </p>
        </div>

        <div class="col-md-2">
            <div class="row">
                <h5><span id="numberOfCheckedParcels">0</span>/<span id="numberOfParcels">@Model.ParcelTableShowViewData.Parcels.Count</span> пратки</h5>
            </div>
            @*<div class="row">
                    <h5>0/0 транспортни опаковки</h5>
                </div>*@
        </div>

        @if (!Model.IsClosed)
        {
            <input type="button" id="hideBtn" onclick="toggleConfirmation('hideBtn', 'confirmPanel')" class="col-md-4 btn btn-success form-control animate__animated animate__backInRight animate__faster" value="Приключи протокола" />

            <span id="confirmPanel" class="confirmDelete col-md-4">
                <div class=" p-1 m-1 animate__animated animate__backInRight animate__faster">
                    <span class="col-md-3">Сигурни ли сте? </span>
                    <button type="submit" onclick="closeProtocol(@Model.Id)" class="col-md-2 btn btn-danger form-control">Да</button>
                    <button type="button" onclick="toggleConfirmation('hideBtn', 'confirmPanel')" class="col-md-2 btn btn-success form-control">Не</button>
                </div>
            </span>
        }
    </div>

    @if (!Model.IsClosed)
    {
        <partial name="_ParcelInsertPartial" model="Model.ParcelInsertViewModel" />

        <div id="responseMessage">
        </div>
    }


    <div id="parcelsTable">
        <partial name="_ParcelsTableShowPartialView" model="Model.ParcelTableShowViewData" />
    </div>

</div>

@section Scripts{
    <script>
        function closeProtocol(protocolId){
            $.ajax({
                method: "Put",
                url: "api/Protocol/" + @Model.Id,
                success: function (res) {
                    if (res) {
                        $("#protocolMainResponseMessage #message").text("Протокол №" + @Model.Id + " беше приключен успешно!");
                        $("#protocolMainResponseMessage").addClass("alert-success");
                        $("#protocolMainResponseMessage").removeClass("alert-warning");
                        $("#parcelInsert").hide();
                        $("#hideBtn").hide();
                        $("#confirmPanel").hide();
                        $("#responseMessage")?.hide();
                        $(".importIdIcon").hide();
                        }
                    }
                });
        }

        $("#submitBtn").click(function () {
            let parcelId = $("#parcelIdInput").val();
            let isCheck = $('input[type=radio][name=addRemoveRadioBtns]:checked').attr('id') == "check" ? true : false;

            $.ajax({
                method: "GET",
                url: "/CheckedParcelResult/" + parcelId + "/" + @Model.Id + "/" + isCheck,
                success: function (res) {
                    $("#responseMessage").html(res);

                    $.ajax({
                        method: "GET",
                        url: "/ReloadParcelsTable/" + @Model.Id,
                        success: function (res) {
                            $("#parcelsTable").html(res);


                            $.ajax({
                            method: "GET",
                                url: "api/Protocol/" + @Model.Id,
                            success: function (res) {
                                $("#numberOfCheckedParcels").html(res);
                                let inputFieldEl = document.querySelector("#parcelIdInput");
                                inputFieldEl.value = "";
                                inputFieldEl.focus();
                            }
                        });
                        }
                    });
                }
            });
        });

        $('input[type=radio][name=addRemoveRadioBtns]').change(function () {
            if (this.id == 'remove') {
                $("#submitBtn").text("Премахване");
            }
            else if (this.id == 'check') {
                $("#submitBtn").text("Добавяне");
            }
        });

        $(document).keypress(function (event) {
            let keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                $("#submitBtn").click();
            }
        });


        @*initial load*@
        $("#confirmPanel").hide();

        $.ajax({
            method: "GET",
            url: "api/Protocol/" + @Model.Id,
            success: function (res) {
                $("#numberOfCheckedParcels").html(res);
            }
        });
    </script>

    <script src="~/js/ToggleConfirmationPanel.js"></script>
}