@using FinalPoint.Web.ViewModels.ViewComponents;
@model LoadUnloadProtocolViewModel
@{
    ViewData["Title"] = Model.TranslatedType;
}



<div class="container-fluid">
    <div class="row">
        <div class="alert alert-@Model.TypeOfMessage alert-dismissible fade show col-md-12 animate__animated" role="alert">
            @Model.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p>
                Протокол №: <span class="text-warning">@Model.Id</span> |
                Линия: <span class="text-warning"> @Model.Line </span> |
                Дата: @Model.Date.ToString("dd/MM/yyyy")
            </p>
        </div>

        <div class="col-md-4">
            <div class="row">
                <h5>1/@Model.Parcels.Count пратки</h5>
            </div>
            <div class="row">
                <h5>0/0 транспортни опаковки</h5>
            </div>
        </div>

        <div id="test">
        </div>
    </div>


    <partial name="_ParcelInsertPartial" model="Model.ParcelInsertViewModel" />

    <div id="responseMessage">
    </div>

    <div id="parcelsTable">
        <partial name="_ParcelsTableShowPartialView" model="Model.ParcelTableShowViewData" />
    </div>

</div>

@section Scripts{
    <script>
        $("#submitBtn").click(function () {
            let parcelId = $("#parcelIdInput").val();

            let isCheck = $('input[type=radio][name=addRemoveRadioBtns]:checked').attr('id') == "check" ? true : false;

            $.ajax({
                method: "GET",
                url: "/CheckedParcelResult/" + parcelId + "/" + @Model.Id + "/" + isCheck,
                success: function (res) {
                    $("#responseMessage").html(res);

                    $.ajax({
                        method: "GET",
                        url: "/ReloadParcelsTable/" + @Model.Id,
                        success: function (res) {
                            $("#parcelsTable").html(res);
                        }
                    });
                }
            });
        });

        $('input[type=radio][name=addRemoveRadioBtns]').change(function () {
            if (this.id == 'remove') {
                $("#submitBtn").text("Премахване");
            }
            else if (this.id == 'check') {
                $("#submitBtn").text("Добавяне");
            }
        });

        $(document).keypress(function (event) {
            let keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                $("#submitBtn").click();
            }
        });

    </script>


    <script></script>
}